*{
    margin: 0px;
    padding: 0px;

 }
  .main {
  width: 100%;
  background: url(portfolio.1.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  font-family:'Times New Roman', Times, serif;


 }
 .navbar {
    width:86%;
    display: flex;
    margin-left: 35%;
    padding: 15px 0 ;
    align-items: center;
    justify-content: space-evenly;
 }

 ul li {
   list-style: none;
   padding: 10px 30px;
    display: inline-block ;
    

    
 }
 a {
     text-decoration: none;
    color: white;
    transition: .4s ease;
 }
 a:hover {
color:  rgb(200, 29, 29);
text-decoration: dotted;
 }
 button {
   color: white;
   background-color: brown;
   height: 30px;
   width: 70px;
   border-radius: 10px;
 }
 button:hover {
  
   background-color: rgb(124, 142, 240);
 }
 h2 {
   color: white;
   margin-left: 50%;
   text-shadow: 0cqh;
   margin-top: 10%;
 }
 h3 {
   font-size: 1.5rem;
    color: white;
   margin-left: 50%;
   text-shadow: 0cqh;
font-weight: 1.5rem;
 }
 span {
   color: rgb(111, 75, 8);
 }
 p {
    font-size: 1.5rem;
    color: white;
   margin-left: 50%;
   text-shadow: 0cqh;
font-weight: 1rem;
 }